        <%= render 'search' %>
        
        <section class="section help-section">
            <div class="container">
                <div class="">
                <% @jobs.each do |job| %>

                    <div class="column is-12">
                        
                        <!-- Category card -->
                        <div class="flex-card category-card light-bordered">
                            <div class="card-body">
                                <a href="/jobs/<%= job.id %>">
                                    <!-- Icon -->
                                    <div class="column is-2">
                                        <div class="icon">
                                        <i class="fa fa-building"></i>
                                        </div>
                                        <!-- Content -->
                                    </div>
                                    <div class="column is-10">
                                        <div class="inner-content">
                                        <h2 class="title is-4"><%= job.title %></h2>
                                        <div class="inner-text">
                                            <%= job.company %>
                                        </div>
                                        <div class="card-meta">
                                            <%= image_tag gravatar_url('samuelsadiq52@gmail.com', 50), alt: "", :class => 'small-avatar' %>
                                            <div class="meta-info">
                                                <div class="authors">Posted by <span>Elija Fabulu</span></div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                    
                                </a>
                            </div>
                        </div>

                        
                    </div>
                     
                <% end -%>
                    <div class="column">
                    </div>
                </div>
            </div>
        </section>
