<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/header' %> 
  </head>

  <body>
  		<% if user_signed_in? %>
  				<%= render 'layouts/user' %>
  		<% else %>
  			<%= render 'layouts/nav' %>
  		<% end %>
        
    
    	<%= yield %>

    	<% if user_signed_in? %>
    	
    	<% else %>
    		<%= render 'layouts/footer' %>

    	<% end -%>
  </body>
</html>
